@{
    //ViewData["Title"] = "Home Page";
}

<!-- .rs-wrapper start -->
<div class="rs-wrapper">

    <div class="fullwidthbanner-container">

        <div class="fullwidthbanner">
            <ul>

                <li data-transition="slotzoom-horizontal" data-slotamount="15">
                    <img src="img/slider/slide11.jpg" alt="background">
                    <div class="caption lfl regular_title" data-x="335" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack">کاملا واکنش گرا</div>
                    <div class="caption lfr regular_subtitle" data-x="390" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack">متناسب با هر سلیقه </div>
                    <div class="caption lfr regular_subtitle" data-x="390" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack">قالب فارسی </div>
                    <div class="caption lfr regular_subtitle" data-x="390" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack">اماده برای خرید </div>
                </li>

                <li data-transition="3dcurtain-vertical" data-slotamount="10">
                    <img src="img/slider/slide12.jpg" alt="background">
                    <div class="caption lfl regular_title2" data-x="460" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack">کاملا واکنش گرا</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack">متناسب با هر سلیقه</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack">قالب فارسی</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack">اماده برای خرید</div>
                </li>

                <li data-transition="3dcurtain-horizontal" data-slotamount="10">
                    <img src="img/slider/slide13.jpg" alt="background">
                    <div class="caption lfl regular_title3" data-x="460" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack">کاملا واکنش گرا</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack">متناسب با هر سلیقه</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack">قالب فارسی</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack">اماده برای خرید</div>
                </li>
            </ul>
        </div>
    </div>
</div><!-- .rs-wrapper end -->
<!-- #content-wrapper start -->
<section id="content-wrapper">

    <!-- .container_12 start -->
    <div class="container_12">
        <!-- .grid_12 start -->
        <article class="grid_12">

            <!-- .entry-note start -->
            <section class="entry-note">
                <h1>به وب سایت رسمی آکادمی کیوکوشین کاراته سرخس خوش آمدید</h1>
                <p>
                    امیدواریم مطالب این سایت جذابیت کافی را برای شما کاربر عزیز داشته باشد و بتوانیم با خدماتی که بصورت مجازی ارائه می دهیم گامی در بهبود خدمات ارائه شده از سوی آکادمی برداشته باشیم و در جهت تسهیل  و رفاه مشتریان موفق عمل کرده باشیم
                </p>
            </section><!-- entry-note end -->
        </article><!-- .grid_12 end -->
        <!-- .grid_4 start -->
        <article class="grid_4">
            <div class="service-box-2-container">
                <div class="icon">
                    <i class="icon-desktop"></i>
                </div>

                <section class="service-box-2">
                    <div class="title">
                        <a href="services.html">
                            <h3>کاملا واکنش گرا</h3>
                        </a>
                        <span>متناسب برای هر سلیقه ای</span>
                    </div>

                    <div class="description">
                        <p>
                            فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                        </p>
                    </div>

                    <div class="read-more-btn">
                        <a href="#">چزییات</a>
                        <span class="plus">+</span>
                    </div>

                </section><!-- .service-box-2 end -->
            </div>

        </article><!-- .grid_4 end -->
        <!-- .grid_4 start -->
        <article class="grid_4">
            <div class="service-box-2-container">
                <div class="icon">
                    <i class="icon-cogs"></i>
                </div>

                <section class="service-box-2">
                    <div class="title">
                        <a href="services.html">
                            <h3>کاملا واکنش گرا</h3>
                        </a>
                        <span>متناسب برای هر سلیقه ای</span>
                    </div>

                    <div class="description">
                        <p>
                            فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.

                        </p>
                    </div>

                    <div class="read-more-btn">
                        <a href="#">جزییات</a>
                        <span class="plus">+</span>
                    </div>

                </section><!-- .service-box-2 end -->
            </div>

        </article><!-- .grid_4 end -->
        <!-- .grid_4 start -->
        <article class="grid_4">
            <div class="service-box-2-container">
                <div class="icon">
                    <i class="icon-group"></i>
                </div>

                <section class="service-box-2">
                    <div class="title">
                        <a href="services.html">
                            <h3>کاملا واکنش گرا</h3>
                        </a>
                        <span>متناسب برای هر سلیقه ای</span>
                    </div>

                    <div class="description">
                        <p>
                            فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                        </p>
                        </p>
                    </div>

                    <div class="read-more-btn">
                        <a href="#">جزییات</a>
                        <span class="plus">+</span>
                    </div>

                </section><!-- .service-box-2 end -->
            </div>
        </article><!-- .grid_4 end -->

        <div class="clearfix"></div>

        <!-- .grid_12 carousel-portfolio end -->
        <article class="grid_12 carousel-portfolio">

            <section class="section-title center">
                <div class="title-container">
                    <section class="title">
                        <h2>پروفایل ما</h2>
                        <span>پروزه هایی که انجان داده ایم</span>
                    </section>
                </div>
            </section><!-- .section-title .center end -->

            <ul id="foo2" class="carousel-li">
                <li class="portfolio-style-2">
                    <figure class="portfolio clearfix">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="img/portfolio/thumb/portfolio-1.jpg" width="220" alt="portfolio" />
                            </a>

                            <div class="portfolio-hover">
                                <div class="mask"></div>
                                <ul>
                                    <li class="portfolio-zoom">
                                        <a href="img/portfolio/1col/portfolio-1.jpg"
                                           data-gal="prettyPhoto[pp_gallery]">
                                            zoom
                                        </a>
                                    </li>

                                    <li class="portfolio-single">
                                        <a href="portfolio-single.html">single</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <figcaption>
                            <a class="title">عنوان نمونه کار</a>
                            <span class="subtitle">عکاسی</span>
                        </figcaption>
                    </figure>
                </li><!-- portfolio-style-2 end -->

                <li class="portfolio-style-2">
                    <figure class="portfolio clearfix">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="img/portfolio/thumb/portfolio-2.jpg" width="220" alt="portfolio" />
                            </a>

                            <div class="portfolio-hover">
                                <div class="mask"></div>
                                <ul>
                                    <li class="portfolio-zoom">
                                        <a href="img/portfolio/1col/portfolio-2.jpg"
                                           data-gal="prettyPhoto[pp_gallery]">
                                            zoom
                                        </a>
                                    </li>

                                    <li class="portfolio-single">
                                        <a href="portfolio-single.html">single</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <figcaption>
                            <a class="title">عنوان نمونه کار</a>
                            <span class="subtitle">طراحی وب</span>
                        </figcaption>
                    </figure>
                </li><!-- portfolio-style-2 end -->

                <li class="portfolio-style-2">
                    <figure class="portfolio clearfix">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="img/portfolio/thumb/portfolio-3.jpg" width="220" alt="portfolio" />
                            </a>

                            <div class="portfolio-hover">
                                <div class="mask"></div>
                                <ul>
                                    <li class="portfolio-zoom">
                                        <a href="img/portfolio/1col/portfolio-3.jpg"
                                           data-gal="prettyPhoto[pp_gallery]">
                                            zoom
                                        </a>
                                    </li>

                                    <li class="portfolio-single">
                                        <a href="portfolio-single.html">single</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <figcaption>
                            <a class="title">عنوان نمونه کار</a>
                            <span class="subtitle">طراحی گرافیک</span>
                        </figcaption>
                    </figure>
                </li><!-- portfolio-style-2 end -->

                <li class="portfolio-style-2">
                    <figure class="portfolio clearfix">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="img/portfolio/thumb/portfolio-4.jpg" width="220" alt="portfolio" />
                            </a>

                            <div class="portfolio-hover">
                                <div class="mask"></div>
                                <ul>
                                    <li class="portfolio-zoom">
                                        <a href="img/portfolio/1col/portfolio-4.jpg"
                                           data-gal="prettyPhoto[pp_gallery]">
                                            zoom
                                        </a>
                                    </li>

                                    <li class="portfolio-single">
                                        <a href="portfolio-single.html">single</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <figcaption>
                            <a class="title">عنوان نمونه کار</a>
                            <span class="subtitle">عکاسی</span>
                        </figcaption>
                    </figure>
                </li><!-- portfolio-style-2 end -->

                <li class="portfolio-style-2" data-alpha="webdesign">
                    <figure class="portfolio clearfix">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="img/portfolio/thumb/portfolio-5.jpg" width="220" alt="portfolio" />
                            </a>

                            <div class="portfolio-hover">
                                <div class="mask"></div>
                                <ul>
                                    <li class="portfolio-zoom">
                                        <a href="img/portfolio/1col/portfolio-5.jpg"
                                           data-gal="prettyPhoto[pp_gallery]">
                                            zoom
                                        </a>
                                    </li>

                                    <li class="portfolio-single">
                                        <a href="portfolio-single.html">single</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <figcaption>
                            <a class="title">عنوان نمونه کار</a>
                            <span class="subtitle">طراحی وب</span>
                        </figcaption>
                    </figure>
                </li><!-- portfolio-style-2 end -->

                <li class="portfolio-style-2">
                    <figure class="portfolio clearfix">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="img/portfolio/thumb/portfolio-6.jpg" width="220" alt="portfolio" />
                            </a>

                            <div class="portfolio-hover">
                                <div class="mask"></div>
                                <ul>
                                    <li class="portfolio-zoom">
                                        <a href="img/portfolio/1col/portfolio-6.jpg"
                                           data-gal="prettyPhoto[pp_gallery]">
                                            zoom
                                        </a>
                                    </li>

                                    <li class="portfolio-single">
                                        <a href="portfolio-single.html">single</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <figcaption>
                            <a class="title">عنوان نمونه کار</a>
                            <span class="subtitle">طراحی وب</span>
                        </figcaption>
                    </figure>
                </li><!-- portfolio-style-2 end -->

                <li class="portfolio-style-2">
                    <figure class="portfolio clearfix">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="img/portfolio/thumb/portfolio-7.jpg" width="220" alt="portfolio" />
                            </a>

                            <div class="portfolio-hover">
                                <div class="mask"></div>
                                <ul>
                                    <li class="portfolio-zoom">
                                        <a href="img/portfolio/1col/portfolio-7.jpg"
                                           data-gal="prettyPhoto[pp_gallery]">
                                            zoom
                                        </a>
                                    </li>

                                    <li class="portfolio-single">
                                        <a href="portfolio-single.html">single</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <figcaption>
                            <a class="title">عنوان نمونه کار</a>
                            <span class="subtitle">طراحی وب</span>
                        </figcaption>
                    </figure>
                </li><!-- portfolio-style-2 end -->

                <li class="portfolio-style-2" data-alpha="graphicdesign">
                    <figure class="portfolio clearfix">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="img/portfolio/thumb/portfolio-8.jpg" width="220" alt="portfolio" />
                            </a>

                            <div class="portfolio-hover">
                                <div class="mask"></div>
                                <ul>
                                    <li class="portfolio-zoom">
                                        <a href="img/portfolio/1col/portfolio-8.jpg"
                                           data-gal="prettyPhoto[pp_gallery]">
                                            zoom
                                        </a>
                                    </li>

                                    <li class="portfolio-single">
                                        <a href="portfolio-single.html">single</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <figcaption>
                            <a class="title">عنوان نمونه کار</a>
                            <span class="subtitle">طراحی گرافیک</span>
                        </figcaption>
                    </figure>
                </li><!-- portfolio-style-2 end -->
            </ul><!-- .carousel-li end -->

            <div class="clearfix"></div>

            <div class="carousel-pagination" id="foo2_pag"></div>

        </article><!-- .grid_12 carousel-portfolio end -->

        <article class="grid_12 latest-blog-posts">
            <!-- .section-title .center start -->
            <section class="section-title center">

                <!-- .ttile-container .carousel start -->
                <div class="title-container">
                    <section class="title">
                        <h2>اخرین اخبار</h2>
                        <span>اخرین اخبار ار  ایران و جهان</span>
                    </section>
                </div><!-- .title-container .carousel end -->
            </section><!-- .section-title .center end -->
            <!-- .grid_6 start -->
            <article class="grid_6 alpha">
                <section class="post-info">
                    <img src="img/blog/small-1.jpg" alt="blog-image" />

                    <div class="comments">
                        <a href="blog-single.html">2 نظر</a>
                    </div>
                </section>

                <section class="post-body">
                    <div class="post-meta">
                        <div class="category">
                            <i class="icon-edit"></i>
                        </div>

                        <div class="title-date">
                            <a href="blog-single.html">
                                <h6> با منوهای کاملا زیبا</h6>
                            </a>
                            <span class="date">28 فروردین 94</span>
                        </div>
                    </div>

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                    <div class="read-more-btn">
                        <a href="blog-single.html">جزییات</a>
                        <span class="plus">+</span>
                    </div>
                </section><!-- .post-body end -->

            </article><!-- .grid_6 end -->
            <!-- .grid_6 start -->
            <article class="grid_6 omega">
                <section class="post-info">
                    <img src="img/blog/small-2.jpg" alt="blog-image" />

                    <div class="comments">
                        <a href="blog-single.html"></a>
                    </div>
                </section>

                <section class="post-body">
                    <div class="post-meta">
                        <div class="category">
                            <i class="icon-edit"></i>
                        </div>

                        <div class="title-date">
                            <a href="blog-single.html">
                                <h6>چرا مارا انتخاب کردید</h6>
                            </a>

                            <span class="date">28 فروردین 94</span>
                        </div>
                    </div>

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                    <div class="read-more-btn">
                        <a href="blog-single.html">جزیات</a>
                        <span class="plus">+</span>
                    </div>
                </section><!-- .post-body end -->

            </article><!-- .grid_6 end -->

            <div class="clearfix"></div>

            <!-- .grid_6 start -->
            <article class="grid_6 alpha">
                <section class="post-info">
                    <img src="img/blog/small-3.jpg" alt="blog-image" />

                    <div class="comments">
                        <a href="blog-single.html">2نظر</a>
                    </div>
                </section>

                <section class="post-body">
                    <div class="post-meta">
                        <div class="category">
                            <i class="icon-edit"></i>
                        </div>

                        <div class="title-date">
                            <a href="blog-single.html">
                                <h6>پیشرو در خدمت </h6>
                            </a>

                            <span class="date">28 فروردین 94</span>
                        </div>
                    </div>

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                    <div class="read-more-btn">
                        <a href="blog-single.html">جزیات</a>
                        <span class="plus">+</span>
                    </div>
                </section><!-- .post-body end -->

            </article><!-- .grid_6 end -->
            <!-- .grid_6 start -->
            <article class="grid_6 omega">
                <section class="post-info">
                    <img src="img/blog/small-4.jpg" alt="blog-image" />

                    <div class="comments">
                        <a href="blog-single.html">2 نظر</a>
                    </div>
                </section>

                <section class="post-body">
                    <div class="post-meta">
                        <div class="category">
                            <i class="icon-edit"></i>
                        </div>

                        <div class="title-date">
                            <a href="blog-single.html">
                                <h6>پیشرو در خدمت </h6>
                            </a>

                            <span class="date">28 فروردین 94</span>
                        </div>
                    </div>

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                    <div class="read-more-btn">
                        <a href="blog-single.html">جزیات</a>
                        <span class="plus">+</span>
                    </div>
                </section><!-- .post-body end -->

            </article><!-- .grid_6 end -->
        </article><!-- .grid_12 end -->
        <!-- .grid_8 start -->
        <article class="grid_8">
            <!-- .section-title .center start -->
            <section class="section-title center">

                <!-- .ttile-container .carousel start -->
                <div class="title-container">
                    <section class="title">
                        <h2>انتخاب ما </h2>
                        <span>شرکت فناوری ارتام</span>
                    </section>
                </div><!-- .title-container .carousel end -->
            </section><!-- .section-title .center end -->
            <!-- .tabs start -->
            <ul class="grid_3 alpha tabs vertical">
                <li class="active">
                    <a href="#tab1">
                        <i class="icon-desktop"></i>
                        طراحی متفاوت
                    </a>
                </li>
                <li class="">
                    <a href="#tab2">
                        <i class="icon-group"></i>
                        پیشتبیانی عالی
                    </a>
                </li>
                <li class="">
                    <a href="#tab3">
                        <i class="icon-leaf"></i>
                        ایکن عالی
                    </a>
                </li>

                <li class="">
                    <a href="#tab4">
                        <i class="icon-edit"></i>
                        واکنش گرا
                    </a>
                </li>
            </ul><!-- .tabs end -->
            <!-- .tabs-content-wrap vertical start -->
            <section class="grid_5 omega tab-content-wrap vertical">

                <!-- #tab1 content start -->
                <div id="tab1" class="tab-content">
                    <img src="img/about/responsive.png" class="float-left" alt="image" />

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                </div><!-- #tab1 content end -->
                <!-- tab2 content start -->
                <div id="tab2" class="tab-content">
                    <img src="img/about/support.png" class="float-left" alt="image" />

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                </div><!-- #tab2 content end -->
                <!-- tab3 content start -->
                <div id="tab3" class="tab-content">
                    <span class="text-dark text-big">
                        شرکت سخت افزاری ارتام
                    </span>
                    <br /><br />
                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                </div><!-- #tab3 content end -->
                <!-- tab3 content start -->
                <div id="tab4" class="tab-content">
                    <span class="text-dark text-big">
                        شرکت سخت افزاری ارتام
                    </span>
                    <br /><br />
                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                </div><!-- #tab3 content end -->
            </section><!-- .tabs-content-wrap .vertical end -->
        </article><!-- .grid_8 end -->
        <!-- .grid_4 start -->
        <article class="grid_4">
            <!-- .section-title .center start -->
            <section class="section-title center">

                <!-- .ttile-container .carousel start -->
                <div class="title-container">
                    <section class="title">
                        <h2>کاربران</h2>
                        <span>نظرات کاربران</span>
                    </section>
                </div><!-- .title-container .carousel end -->
            </section><!-- .section-title .center end -->

            <section class="testimonials-alternative">
                <ul class="testimonials-alternative-nav">
                    <li><a href="#content-1" class="active"><img src="img/about/testimon-1.jpg" alt="testimonial 1" /></a></li>
                    <li><a href="#content-2"><img src="img/about/testimon-2.jpg" alt="testimonial 2" /></a></li>
                    <li><a href="#content-3"><img src="img/about/testimon-3.jpg" alt="testimonial 3" /></a></li>
                    <li><a href="#content-4"><img src="img/about/testimon-4.jpg" alt="testimonial 4" /></a></li>
                </ul>

                <section class="testimonials-alternative-content">
                    <div id="content-1" class="content active">
                        <p class="text">


                            زمینه اصلی فناوری اطلاعات آرتام در زمینه طراحی و برنامه نویسی سایت می باشد.
                        </p>
                        <p class="author">- شرکت ارتام</p>
                    </div>
                    <div id="content-2" class="content">
                        <p class="text">


                            زمینه اصلی فناوری اطلاعات آرتام در زمینه طراحی و برنامه نویسی سایت می باشد.
                        </p>
                        <p class="author">- شرکت ارتام</p>
                    </div>
                    <div id="content-3" class="content">
                        <p class="text">


                            زمینه اصلی فناوری اطلاعات آرتام در زمینه طراحی و برنامه نویسی سایت می باشد.
                        </p>
                        <p class="author">- شرکت ارتام</p>
                    </div>
                    <div id="content-4" class="content">
                        <p class="text">


                            زمینه اصلی فناوری اطلاعات آرتام در زمینه طراحی و برنامه نویسی سایت می باشد.
                        </p>
                        <p class="author">- شرکت ارتام</p>
                    </div>
                </section>
            </section>
        </article><!-- .grid_4 end -->

    </div><!-- .container_12 end -->

</section><!-- #content-wrapper end -->
<!-- #footer-wrapper start -->
<div id="footer-wrapper" class="clearfix">

    <!-- .container_12.copyright-container start -->
    <div class="container_12 copyright-container">

        <!-- .grid_12 start -->
        <div class="grid_12">

            <div class="grid_12 alpha">
                <p>
                    کلیه حقوق مادی و معنوی این وب سایت متعلق به آکادمی کیوکوشین  کاراته سرخس می باشد و هرگونه سو استفاده یا کپی برداری از آن پیگرد قانونی دارد
                </p>
            </div>

        </div><!-- .grid_12 end -->
    </div><!-- .container_12.copyright-container end -->
</div><!-- #footer-wrapper end -->