@model KarateClub.Application.ViewModels.NewsViewModel;
@{
    //ViewData["Title"] = "Home Page";
}

<!-- .rs-wrapper start -->
<div class="rs-wrapper">

    <div class="fullwidthbanner-container">

        <div class="fullwidthbanner">
            <ul>

                <li data-transition="slotzoom-horizontal" data-slotamount="15">
                    <img src="img/slider/slide11.jpg" alt="background">
                    <div class="caption lfl regular_title" data-x="335" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack">کاملا واکنش گرا</div>
                    <div class="caption lfr regular_subtitle" data-x="390" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack">متناسب با هر سلیقه </div>
                    <div class="caption lfr regular_subtitle" data-x="390" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack">قالب فارسی </div>
                    <div class="caption lfr regular_subtitle" data-x="390" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack">اماده برای خرید </div>
                </li>

                <li data-transition="3dcurtain-vertical" data-slotamount="10">
                    <img src="img/slider/slide12.jpg" alt="background">
                    <div class="caption lfl regular_title2" data-x="460" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack">کاملا واکنش گرا</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack">متناسب با هر سلیقه</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack">قالب فارسی</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack">اماده برای خرید</div>
                </li>

                <li data-transition="3dcurtain-horizontal" data-slotamount="10">
                    <img src="img/slider/slide13.jpg" alt="background">
                    <div class="caption lfl regular_title3" data-x="460" data-y="90" data-speed="700" data-start="2000" data-easing="easeOutBack">کاملا واکنش گرا</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="160" data-speed="700" data-start="2400" data-easing="easeOutBack">متناسب با هر سلیقه</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="202" data-speed="700" data-start="2900" data-easing="easeOutBack">قالب فارسی</div>
                    <div class="caption lfr regular_subtitle" data-x="508" data-y="242" data-speed="700" data-start="3200" data-easing="easeOutBack">اماده برای خرید</div>
                </li>
            </ul>
        </div>
    </div>
</div><!-- .rs-wrapper end -->
<!-- #content-wrapper start -->
<section id="content-wrapper">

    <!-- .container_12 start -->
    <div class="container_12">
        <!-- .grid_12 start -->
        <article class="grid_12">

            <!-- .entry-note start -->
            <section class="entry-note">
                <h1>به وب سایت رسمی آکادمی کیوکوشین کاراته سرخس خوش آمدید</h1>
                <p>
                    امیدواریم مطالب این سایت جذابیت کافی را برای شما کاربر عزیز داشته باشد و بتوانیم با خدماتی که بصورت مجازی ارائه می دهیم گامی در بهبود خدمات ارائه شده از سوی آکادمی برداشته باشیم و در جهت تسهیل  و رفاه مشتریان موفق عمل کرده باشیم
                </p>
            </section><!-- entry-note end -->
        </article><!-- .grid_12 end -->
        @if (Model.Notification != null)
        {
            @foreach (var notify in Model.Notification)
            {
                <!-- .grid_4 start -->
                <article class="grid_4">
                    <div class="service-box-2-container">
                        <div class="icon">
                        </div>

                        <section class="service-box-2">
                            <div class="title">
                                <a>
                                    <h3>@notify.Title</h3>
                                </a>
                                <span>@notify.Title1</span>
                            </div>
                        
                            <div class="description">
                                <p>
                                    @notify.Description
                                </p>
                            </div>

                            <div class="read-more-btn">
                                <a href="services.html">جزییات</a>
                                <span class="plus">+</span>
                            </div>

                        </section><!-- .service-box-2 end -->
                    </div>

                </article><!-- .grid_4 end -->
            }
        }
        else
        {
            <div class="error-box">
                <br />
                <strong>&nbsp;&nbsp;&nbsp;مشکلی در بارگزاری داده ها به وجود آمده است لطفا مجددا تلاش بفرمایید</strong>
                <br />
                <strong>&nbsp;</strong>
            </div>
            <br />
            <br />
        }

        <div class="clearfix"></div>


        <article class="grid_12 latest-blog-posts">
            <!-- .section-title .center start -->
            <section class="section-title center">

                <!-- .ttile-container .carousel start -->
                <div class="title-container">
                    <section class="title">
                        <h2>آخرین اخبار</h2>
                        <span>آخرین اخبار از آکادمی و خارج از آکادمی</span>
                    </section>
                </div><!-- .title-container .carousel end -->
            </section><!-- .section-title .center end -->
            <!-- .grid_6 start -->
            <article class="grid_6 alpha">
                <section class="post-info">
                    <img src="img/blog/small-1.jpg" alt="blog-image" />

                </section>

                <section class="post-body">
                    <div class="post-meta">
                        <div class="hidenDiv">
                        </div>

                        <div class="title-date">
                            <a href="blog-single.html">
                                <h6> با منوهای کاملا زیبا</h6>
                            </a>
                            <span class="date">28 فروردین 94</span>
                        </div>
                    </div>

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                    <div class="read-more-btn">
                        <a href="blog-single.html">جزییات</a>
                        <span class="plus">+</span>
                    </div>
                </section><!-- .post-body end -->

            </article><!-- .grid_6 end -->
            <!-- .grid_6 start -->
            <article class="grid_6 omega">
                <section class="post-info">
                    <img src="img/blog/small-2.jpg" alt="blog-image" />

                </section>

                <section class="post-body">
                    <div class="post-meta">
                        <div class="hidenDiv">
                        </div>

                        <div class="title-date">
                            <a href="blog-single.html">
                                <h6>چرا مارا انتخاب کردید</h6>
                            </a>

                            <span class="date">28 فروردین 94</span>
                        </div>
                    </div>

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                    <div class="read-more-btn">
                        <a href="blog-single.html">جزیات</a>
                        <span class="plus">+</span>
                    </div>
                </section><!-- .post-body end -->

            </article><!-- .grid_6 end -->

            <div class="clearfix"></div>

            <!-- .grid_6 start -->
            <article class="grid_6 alpha">
                <section class="post-info">
                    <img src="img/blog/small-3.jpg" alt="blog-image" />

                </section>

                <section class="post-body">
                    <div class="post-meta">
                        <div class="hidenDiv">
                        </div>

                        <div class="title-date">
                            <a href="blog-single.html">
                                <h6>پیشرو در خدمت </h6>
                            </a>

                            <span class="date">28 فروردین 94</span>
                        </div>
                    </div>

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                    <div class="read-more-btn">
                        <a href="blog-single.html">جزیات</a>
                        <span class="plus">+</span>
                    </div>
                </section><!-- .post-body end -->

            </article><!-- .grid_6 end -->
            <!-- .grid_6 start -->
            <article class="grid_6 omega">
                <section class="post-info">
                    <img src="img/blog/small-4.jpg" alt="blog-image" />

                </section>

                <section class="post-body">
                    <div class="post-meta">
                        <div class="hidenDiv">
                        </div>

                        <div class="title-date">
                            <a href="blog-single.html">
                                <h6>پیشرو در خدمت </h6>
                            </a>

                            <span class="date">28 فروردین 94</span>
                        </div>
                    </div>

                    <p>
                        فناوری اطلاعات آرتام  با هدف فعالیت در زمینه کامپیوتر پا به عرصه گذاشت در سال های اخیر همگام با  رشد روز افزون کاربرد اینترنت در دنیا و نیاز آن در جامعه ایران ،تصمیم گرفتیم یکی از مهم ترین فعالیت خود را به اینترنت و وب متمرکز سازیم.
                    </p>

                    <div class="read-more-btn">
                        <a href="blog-single.html">جزیات</a>
                        <span class="plus">+</span>
                    </div>
                </section><!-- .post-body end -->

            </article><!-- .grid_6 end -->
        </article><!-- .grid_12 end -->


    </div><!-- .container_12 end -->

</section><!-- #content-wrapper end -->
<!-- #footer-wrapper start -->
<div id="footer-wrapper" class="clearfix">

    <!-- .container_12.copyright-container start -->
    <div class="container_12 copyright-container">

        <!-- .grid_12 start -->
        <div class="grid_12">

            <div class="grid_12 alpha">
                <p>
                    کلیه حقوق مادی و معنوی این وب سایت متعلق به آکادمی کیوکوشین  کاراته سرخس می باشد و هرگونه سو استفاده یا کپی برداری از آن پیگرد قانونی دارد
                </p>
            </div>

        </div><!-- .grid_12 end -->
    </div><!-- .container_12.copyright-container end -->
</div><!-- #footer-wrapper end -->