
@{
    //ViewData["Title"] = "Contact";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-title-container">

</section><!-- .page-title-container end -->

<!-- #content-wrapper start -->
<section id="content-wrapper">
    <!-- .container_12 start -->
    <div class="container_12">

        <!-- .grid_6 start -->
        <article class="grid_6">

            <!-- .map-info-container start -->
            <section class=" map-info-container">
                <!-- .info-container start -->
                <section class="info-container">
                    <h5>اطلاعات تماس</h5>

                    <ul>
                        <li>
                            <span class="text-dark">آدرس: </span>
                            تهران خیابان شریعتی - خیابان ملک - کوچه ایرانیاد- پلاک 1
                        </li>

                        <li>
                            <span class="text-dark">تلفن: </span>
                            +00 125 6847
                        </li>

                        <li>
                            <span class="text-dark">ایمیل: </span>
                            <a href="mailto:support@pixel-industry.com">info@business.com</a>
                        </li>
                    </ul>

                    <br />
                    <br />

                    <h5>مرکز پشتیبانی</h5>
                    <ul>
                        <li> تهران خیابان شریعتی - خیابان ملک  - کوچه ایرانیاد- پلاک 1 </li>

                        <li>
                            <span class="text-dark">تلفن: </span>
                            +00 125 6848
                        </li>

                        <li>
                            <span class="text-dark">ایمیل: </span>
                            <a href="mailto:support@pixel-industry.com">support@artamit.com</a>
                        </li>
                    </ul>
                </section><!-- .info-container end -->
            </section><!-- .map-info-container end -->
        </article><!-- .grid_6 end -->
        <!-- .grid_6 start -->
        <div class="grid_6">
            <section class="section-title left">
                <h3>از ما سوالی دارید؟</h3>
            </section>

            <p>

                اگر از ما سوالی دارید فرم زیر را پر کنید .
            </p>

            <br />

            <!-- wpcf7 start -->
            <form class="wpcf7">
                <fieldset>
                    <label><span class="text-color">*</span> نام:</label>
                    <input type="text" class="wpcf7-text" id="contact-name" />
                </fieldset>

                <fieldset>
                    <label><span class="text-color">*</span> ایمیل:</label>
                    <input type="email" name="email" id="contact-email" class="wpcf7-text" />
                </fieldset>

                <fieldset>
                    <label><span class="text-color">*</span> پیام:</label>
                    <textarea rows="10" class="wpcf7-textarea" id="contact-message"></textarea>
                </fieldset>

                <input type="submit" class="wpcf7-submit" value="ارسال" />

            </form><!-- wpcf7 end -->
        </div><!-- .grid_6 end -->

    </div><!-- .container_12 end -->
</section><!-- #content-wrapper end -->
